<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Spring Authorization sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">

    <form class="form-signin w-100 m-auto" method="post" th:action="@{/password/{email}/{secret}(email=${email},secret=${secret})}">
        <h1 class="h3 mb-3 fw-normal">Password change</h1>
        <input type="hidden" th:name="email" th:value="${email}"/>
        <input type="hidden" th:name="secret" th:value="${secret}"/>

        <div th:if="${param.error}" th:with="errorMsg=${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="alert alert-danger" role="alert">
            Password change failed. <span th:text="${errorMsg}"></span>.
        </div>
        <div th:if="${message}" class="alert alert-primary" role="alert">
            <span th:text="${message}"></span>.
        </div>
        <div th:if="${error}" class="alert alert-danger" role="alert">
             <span th:text="${error}"></span>.
        </div>
        <div class="form-floating">
            <input type="password" id="password" name="password" autocomplete="current-password" class="form-control" required>
            <label for="password">Password</label>
        </div>
        <div>
            <button class="w-100 btn btn-lg btn-primary btn-block" type="submit">Change password</button>
        </div>
        <div class="mt-3">
            <div class="mt-2"><a href="/issuer" style="color: dimgrey !important;">Go back to Sign-in page</a></div>
        </div>
    </form>


</div>
</body>
</html>